.gitignore export-ignore
blind.tex export-ignore
grammarly.tex export-ignore
camera.tex export-ignore
create-source-archive.sh export-ignore
.github/** export-ignore
.gitattributes export-ignore
.latexmkrc export-ignore
README.md export-ignore
Makefile export-ignore
